<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <%= link_to api_registro_mediciones_path, class: "nav-link" do %>
            General
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to api_registro_mediciones_area_path, class: "nav-link" do %>
            Reporte por area
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to api_registro_mediciones_nivel_path, class: "nav-link" do %>
            Reporte por nivel
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to api_registro_mediciones_variable_path, class: "nav-link active" do %>
            Reporte por variable
          <% end %>
        </li>
      </ul>
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h2>Todas Las Medicines Del Nivel <%= params[:nivel] %></h2>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Valor</th>
              <th>Variable</th>
              <th>Area</th>
              <th>Nivel</th>
              <th>Fecha Medición</th>
            </tr>
          </thead>
          <tbody>
            <% @registros.each do |registro| %>
              <tr>
                <td><%= registro.id %></td>
                <td><%= registro.valor %></td>
                <td><%= registro.variable_ambiental.tipo %></td>
                <td><%= registro.microcontrolador.area%></td>
                <td><%= registro.microcontrolador.nivel %></td>
                <td><%= registro.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= will_paginate @registros %>
    </main>
  </div>
</div>
